

.cabeca{
    font-size: 2.75em;
}



body{
    display: flex;
    height:100vh;
    justify-content:space-between;
    flex-direction:column;
    align-items: center;
    background-color: lightblue;
    box-sizing: border-box;

}

form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height:100%;



}

#crypto-type{



}





.container{
    border: 2px solid black;
    width: 60vw;
    height:70vh;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.4)
    
}

.campo-texto{
    width: 40%;
}

.rodape{
    background-color:slategray;
    width: 100%;
    height:40px;
    text-align:center;
    line-height:40px;
}

.rodape p{
    margin: 0;
}

textarea{
    resize: none;
    border: 2px solid black;
}



